html, body {
    background: #1a1818;
    margin: 0;
    overflow-x: hidden;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text-size-nav {
    font-size: 1.5rem;
}

.navbar-nav .nav-link:hover {
    color: red !important;
}

/* Hero Section */
.hero-section {
    background: #1a1818;
    color: #fff;
}

.text-justify-ch-p {
    font-size: 1.3rem;
    text-align: justify;
}

.drhero {
    width: 250px;
}

/* Combined Section */
.container {
    text-align: center;
}

.pad-container {
    padding: 50px 20px;
}

.contact-section {
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

/* Card Styling */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.card-body {
    flex: 1;
}

#contact label {
    text-align: left;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Footer Styling */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Responsive Styling */
@media (max-width: 1440px) {
    .text-center-ch-h1 {
        font-size: 4.0rem;
        margin-top: 50px;
        margin-left: 180px;
        margin-bottom: 30px;
    }
    
    .text-justify-ch-p {
        font-size: 1.4rem;
        text-align: justify;
        margin-left: 180px;
    }

    .card {
        margin: 15px 0;
    }
}

@media (max-width: 1024px) {
    .text-center-ch-h1 {
        font-size: 4.0rem;
        margin-top: 50px;
        margin-left: 120px;
        margin-bottom: 50px;
    }
    
    .text-justify-ch-p {
        font-size: 1.4rem;
        text-align: justify;
        margin-left: 120px;
    }

    .card {
        margin: 15px 0;
    }
}

@media (max-width: 768px) {
    .text-center-ch-h1 {
        font-size: 3.0rem;
        text-align: left;
        margin-top: 50px;
        margin-left: 80px;
        margin-bottom: 30px;
    }
    
    .text-justify-ch-p {
        font-size: 1.0rem;
        text-align: justify;
        margin-left: 80px;
    }

    .col {
        flex: none;
    }
}

@media (max-width: 425px) {
    .text-center-ch-h1 {
        font-size: 3.0rem;
        text-align: center;
        margin-top: 10px;
        margin-left: 0;
        margin-bottom: 10px;
    }
    
    .text-justify-ch-p {
        font-size: 1.0rem;
        text-align: justify;
        margin-left: 52px;
        margin-right: 52px;
    }
}